@mixin section{
    border-left: 4px solid #c69;
    border-bottom: 4px #c69 solid;
    width:50% !important;
    border-block-end: 50%;
    padding-left: 2vw;
    border-radius: 25px;
}
@mixin position{
    margin-top:5vw;
    margin-left:2vw;
    overflow:hidden;
}
@mixin background {
    .background__image--style{
        position:relative;
        display:flex;
        background: url("images/komputer.jpg");
        background-size: cover;
        -webkit-box-align: start;
        align-items: flex-start;
    }
}
@mixin width-height{
    width:100%;
    height:100%;
}
@mixin background-photo {
    height:100%;
        margin:auto;
        object-fit:contain;
        padding-left: 0 !important;
        padding-right: 0 !important;
        img{
            width:100%;
            margin-left:auto;
            margin-right:auto;
        }
}
@mixin float-align{
    float:left;
    text-align: center;
}
@mixin tech-paragraph{
    color:#7f7f7f;
    font-weight:400;
}
@mixin background-footer{
    .footer--style{
        background:#3788C5;
        height:100px;
        display:flex;
            h5{
                text-align: center;
                color:#A0C8E3;
                margin:auto;
            }
    }
}
@mixin a-link{
    a.navbar__link--color{
        color:black !important;
        &:hover{
            text-decoration: none;
    }
}  
}
@mixin button{
    display:inline-block;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all 0.2s;
}
@mixin column {
    padding:0 !important;
    float:left;
    border: 1px solid #cecece;
    background:white;
}
@mixin right-navigator {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    align-items: center;
}