$padding:5vw;
$margin-top:2.5vw;
.project--content{
    @include float-align();
    padding-left:$padding;
    padding-right: $padding;
    p{
        padding-left:$padding*2;
        padding-right:$padding*2;
    }
}
@media(min-width:1280px){
    .navbar__list--size{
        font-size: 1.1vw;
    }
    .columns__paragraph--font{
        font-size:1vw;
    }
    .project__header--style{
        font-size:2.5vw;
    }
    .columns__title--font{
        font-size:1vw;
    }
    .technology__paragraph--bigger{
        @include tech-paragraph();
        font-size:1vw;
    }
    .project--content{
        p{
            font-size:1vw;
            margin-bottom:5vw;
        }
    }
}
@media (min-width:992px) and (max-width:1279px){
    .navbar__list--size{
        font-size: 1.4vw;
    }
    .columns__paragraph--font{
        font-size:1.2vw;
    }
    .project__header--style{
        font-size:2.5vw;
    }
    .columns__title--font{
        font-size:1.5vw;
    }
    .project--content{
        p{
            font-size: 1.5vw;
            margin-bottom:5vw;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .navbar__list--size{
        font-size: 2vw;
    }
    .columns__paragraph--font{
        font-size:1.4vw;
    }
    .project__header--style{
        font-size:3vw;
    }
    .columns__title--font{
        font-size:2vw;
    }
    .project--content{
        p{
            font-size: 1.5vw;
            margin-bottom:5vw;
        }
    }
}
@media (max-width:767px){
    .navbar__list--size{
        font-size: 2vw;
    }
    .columns__paragraph--font{
        font-size:3.5vw;
    }
    .project__header--style{
        color:black;
    } 
    .columns__title--font{
        font-size:5vw;
    }
    .project--content{
        p{
            font-size: 5w;
            margin-bottom:5vw;
        }
    }
}