@import '../utils/variables.scss';
@media (min-width:992px) and (max-width:1279px){
    .navbar__list--size{
        font-size: 1.4vw;
    }
}
@media (min-width:768px) and (max-width:991px){
    .navbar__list--size{
        font-size: 2vw;
    }
}
@media (max-width:767px){
    .navbar__list--size{
        font-size: 2vw;
    }
}