body {
  font-family: 'Montserrat', sans-serif !important;
}

@media (min-width: 1280px) {
  .columns__paragraph--font {
    font-size: 1vw;
    color: #7f7f7f;
  }
  .project__header--style {
    font-size: 2.5vw;
    color: black;
    padding-left: 5vw;
    font-weight: 500;
  }
  .columns__title--font {
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .columns__paragraph--font {
    font-size: 1.2vw;
    color: #7f7f7f;
  }
  .project__header--style {
    font-size: 2.5vw;
    color: black;
    padding-left: 5vw;
    font-weight: 500;
  }
  .columns__title--font {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .columns__paragraph--font {
    font-size: 1.4vw;
    color: #7f7f7f;
  }
  .project__header--style {
    font-size: 3vw;
    font-weight: 500;
    color: black;
    padding-left: 5vw;
  }
  .columns__title--font {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .columns__paragraph--font {
    font-size: 3.5vw;
    color: #7f7f7f;
  }
  .project__header--style {
    color: black;
    font-size: 5vw;
    font-weight: 500;
  }
  .columns__title--font {
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
  }
}
