@import '../utils/variables.scss';
body{
    font-family: 'Montserrat', sans-serif !important;
}
.text{
    &__colors{
        display:inline;
        &--hex{
            font-weight:600;
        }
        &--number{
            font-weight:500;
        }
    }
}
.section__header{
    padding-left:$padding;
    padding-right:$padding;
    color:black !important;
    text-align:center;
    line-height: 2vw;
}
.title{
    color:black;
    font-weight:500;
    text-align: center;
    &__colors{
        font-weight:600;
        font-size:2vw;
    }
    &--h1{
        font-size:3vw !important;
        font-weight:600;
    }
    &--h2{
        font-size:2.5vw;
    }
    &--h3{
        color:#7f7f7f;
        font-size:1.3vw;
    }
}
.project{
    &__content{
        text-align:center;
    }
    &__text{
        padding-left:$padding;
        padding-right:$padding;
        margin-bottom:2vw;
        color:black !important;
    }
}
@media(min-width:1280px){
    .section{
        &__navbar{
            padding-right: $padding;
        }
        &__technology{
            padding-left:$padding;
            padding-right:$padding*2.4;
            color:#7f7f7f;
        }
    }
    .title{
        &__project{
            font-size:2.5vw;
        }
    }
}
@media (min-width:992px) and (max-width:1279px){
    .project{
        &__content{
            text-align:center;
        }
        &__text{
            padding-left:$padding;
            padding-right:$padding;
            margin-bottom:2vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 1.5vw;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .title{
        &__project{
            line-height: 7vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 1.5vw;
        }
    }
}
@media (max-width:767px){
    .title{
        &__project{
            margin-top:2vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 5vw;
        }
    }
}