.text--major {
  font-weight: 600;
}

.title {
  color: black;
  font-weight: 500;
}

.title--h1 {
  font-size: 3vw !important;
  font-weight: 600;
  text-align: center;
}

.title--h2 {
  font-size: 2.5vw;
}

.title--h3 {
  color: #7f7f7f;
  font-size: 1.3vw;
  text-align: center;
}

.title--h4 {
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
}

@media (min-width: 1280px) {
  .title--h1 {
    font-size: 2.5vw;
  }
  .text {
    font-size: 1.1vw;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .text {
    font-size: 1.5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .title--h1 {
    line-height: 7vw;
  }
  .title--h2 {
    font-size: 5vw;
  }
  .title--h3 {
    font-size: 2vw;
  }
  .text {
    line-height: 20px;
    font-size: 2vw;
  }
}

@media (max-width: 767px) {
  .title--h1 {
    font-size: 6vw !important;
  }
  .title--h2 {
    font-size: 5vw;
  }
  .title--h3 {
    font-size: 4vw;
  }
  .text {
    line-height: 40px;
    font-size: 4vw;
  }
}
