@import '../utils/variables.scss';
body{
    font-family: 'Montserrat', sans-serif !important;
}
.paragraph{
    color:#7f7f7f;
    &__project{
        color:black !important;
    }
    &__columns{
        text-align: center !important;
        font-size:1.1vw;
    }
    &__colors{
        display:inline;
        &--hex{
            font-weight:600;
        }
        &--number{
            font-weight:500;
        }
    }
    &__technology{
        font-weight:400;
    }
}
.title{
    color:black;
    font-weight:500;
    text-align: center;
    &__columns{
        color:#7f7f7f;
        font-size:1.3vw;
    }
    &__technology{
        font-size:2.5vw;
    } //spytać o kwestię tych samych headerów np.h2 ale inne style i np. columns i technology, drugie do lewej, columns do środka wyrównane i różny rozmiar (paragraph)
    &__project{
        padding-left:5vw;
        font-size:1.8vw;
        font-weight:600;
    }
    &__colors{
        font-weight:600;
        font-size:2vw;
    }
    &__posts{
        font-size:3vw !important;
        font-weight:600;
    }
}
.project{
    &__content{
        text-align:center;
    }
    &__text{
        padding-left:$padding;
        padding-right:$padding;
        margin-bottom:2vw;
    }
}
@media(min-width:1280px){
    .section{
        &__navbar{
            padding-right: $padding;
        }
        &__technology{
            padding-left:$padding;
            padding-right:$padding*2.4;
        }
    }
    .title{
        &__project{
            font-size:2.5vw;
        }
    }
}
@media (min-width:992px) and (max-width:1279px){
    .project{
        &__content{
            text-align:center;
        }
        &__text{
            padding-left:$padding;
            padding-right:$padding;
            margin-bottom:2vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 1.5vw;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .title{
        &__project{
            line-height: 7vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 1.5vw;
        }
    }
}
@media (max-width:767px){
    .title{
        &__project{
            margin-top:2vw;
        }
    }
    .paragraph{
        &__project{
            font-size: 5vw;
        }
    }
}