@import 'utils/_mixins.scss';
@import 'components/_buttons.scss';
@import 'base/_fonts.scss';
@import 'base/_typography.scss';
@import 'utils/variables.scss';
@import 'base/_base.scss';
@include background-footer();
@include a-link();
@include background();
*{
    margin:0;
    padding:0;
}
.container{
    max-width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    &-fluid{
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }
    &__posts{
        float:left;
        text-align:center;
        color:black !important;
    }
}
.navbar{
    &__item{
        padding-left: 2vw;
    }
    &__logo{
        margin: 0;
        padding: 0.5vw 0;
        img{
            -o-object-fit: cover;
            object-fit: cover;
        }
        &__list {
            .menu-item:first-child {
                .nav-link
                {
                    color: #d7006d !important
                }
            }
        }
    }
    &__list{
        @include right-navigator();
    }
    &__logo--size{
        img{
            height:10vw;
            width:39vw;
        }
    }
}
ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-bottom: 0;
list-style: none;
padding-left: 0;
font-weight: 500;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.background__image--computer{
    @include width-height();
    object-fit:cover;
}

.menu-item{
    float: left;
    & a{
        color: black !important;
    }
}

//styleguide
.colors{
    @include position;
    &__section{
        float:left;
        margin-left: 2vw;
        margin-top: 5vw;
    }
    &__presentation{
        width:100px;
        height:100px;
        &--posts{
            background:#fafafa;
        }
        &--footer{
            background:#3788c5;
        }
        &--hover{
            background:#4095c6;
        }
        &--tech{
            background:#7f7f7f;
        }
    }
}
.fonts{
    &--position{
        @include position;
    }
    &__style--inline{
        display: inline;
    }
    &__section{
        padding-bottom:1vw;
    }
    &__section--position{
        padding-bottom:1vw;
        margin-top:3vw;
        margin-left:2vw;
    }

}
.technology{
    &__photo--size{
        @include background-photo;
    }
    &__row-reverse{
        flex-direction: row-reverse;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }
}
.row__column--position{
    @include column();
    height:20vw;
    margin-left:2.5vw;
}
.columns{
    text-align:center;
    &--background{
        background:#fafafa;
    }
    &__section{
        color:#7f7f7f;
    }
}
.grids{
    @include position;
    &__section{
        float:left;
        margin-left: 2vw;
        margin-top: 5vw;
    }
}
.posts{
    &--background{
        background:#fafafa;
    }
}
.section{
    &__text{
        padding-left:$padding;
        padding-right:$padding;
        margin-bottom:2vw;
        color:black !important;
    }
    &__border{
        @include section;
    }
    &__header{
        padding-left:$padding;
        padding-right:$padding;
        color:black !important;
        text-align:center;
        line-height: 2vw;
    }
    &__button--posts{
        background:#fafafa;
    }
}
.background__image--contact{
    width:100%;
}
@media(min-width:1280px){
    //posts style
    .posts__row{
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .post__photo{
        padding-bottom:2vw;
        padding-top:2vw;
        padding-left:2vw ;
        padding-right:2vw !important;
    }
    .row{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .post{
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 0 !important;
        max-width: 100% !important;
        border: 1px solid #cecece;
        background: #fff;
        margin-bottom: 3vw;
        &__image{
            width:100%;
        }
        &_date{
            text-align: left;
        }
        &_tags{
            text-align: left;
        }
        &__content{
            padding-left:2vw !important;
            padding-top:2vw;
            text-align:left;
        } 
    }
    //contact style
    .posty{
        overflow: hidden;
    }
    .container{
        &__posts{
            padding-left:$padding;
            padding-right:$padding;
            margin-top:4vw;
        }
    }
    .row__column--position{
        @include column();   
        max-width: 25% !important;
        height:20vw;
        margin-left:2.5vw;
        margin-top:2vw;
    }
    .columns{
        background:#fafafa;
        &--size{
            height: 57.5vw;
        }
        &__photo{
            width:7.5vw;
        }
        &__row{
            padding-bottom: 3rem;
            margin-left:15%;
        }
        &__section{
            padding: 8vw 2vw 0;
        }
    }
    .technology{
        &__content{
            padding-top:5vw !important;
        }
        &__row{
            margin-top:5vw;
        }
        &__header{
            padding-left:5vw;
        }
    }
    .menu{
        padding-right: 5vw;
    }
    .section{
        &__navbar{
            padding-right: $padding;
        }
        &__technology{
            padding-left:$padding;
            padding-right:$padding*2.4;
            color:#7f7f7f;
        }
    }
}
@media (min-width:992px) and (max-width:1279px){
    //posts style
    .posts__row{
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .post__photo{
        padding-bottom:2vw;
        padding-top:2vw;
        padding-left:2vw ;
        padding-right:2vw !important;
    }
    .row{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .post{
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 0 !important;
        max-width: 100% !important;
        border: 1px solid #cecece;
        background: #fff;
        margin-bottom: 3vw;
        &__image
        {
            width:100%;
        }
        &__content{
            text-align: left !important;
        }
    }
    //end posts style
    .navbar__logo--size{
        img{
            height:10vw;
            width:30vw;
        }
    }
    .container{
        &__posts{
            padding-left:$padding;
            padding-right:$padding;
            margin-top:4vw;
        }
    }
    .row__column--position{
        max-width:30% !important;
        margin-top:2vw;
    }
    .columns{
        &--size{
            height: 60vw;
            margin-bottom: 5vw;
        }
        &__photo{
            width:7.5vw;
        }
        &__title{
            margin-bottom:1rem;
        }
        &__row{
            padding-bottom: 3rem;
        }
        &__section{
            padding: 6vw 2vw 0;
        }
    }
    .technology{
        &__column--first{
            margin-top:18vw !important;
        }
        &__paragraph--position{
            padding-left:$padding;
            padding-right:$padding*2.4;
        }
        &__header{
            padding-left:5vw;
        }
        &__content{
            padding-top:2vw;
        }
    }
    .section{
        &__header{
            text-align:center;
        }
        &__text{
            padding-left:$padding;
            padding-right:$padding;
            margin-bottom:2vw;
        }
        &__technology{
            padding-top:2vw;
            padding-left:$padding;
            padding-right:$padding*2.4;
            color:#7f7f7f;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    //posts style
    .posts__row{
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .post__photo{
        padding-bottom:2vw;
        padding-top:2vw;
        padding-left:2vw ;
        padding-right:2vw !important;
    }
    .row{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .post{
        padding:0 !important;
        max-width: 100% !important;
        border: 1px solid #cecece;
        background:white;
        margin-top:3vw;
        &__image{
            width:100%;
        }
        &__content{
            text-align: left !important;
        }
    }

    //end posts style
    .navbar__logo--size{
        img{
            height:10vw;
            width:30vw;
        }
    }
    .container{
        &__posts{
            padding-left:$padding;
            padding-right:$padding;
            margin-top:2vw;
        }
    }
    .columns{
        &--size{
            height: 115vw;
        }
        &__photo{
            width:7.5vw;
        }
        &__title{
            margin-bottom:1rem;
        }
        &__row{
            padding-bottom: 3rem;
            margin-left:10vw;
        }
        &__section{
            padding: 12vw 2vw 0;
        } 
    }
    .row__column{
        &--position{
            margin-top: 2vw;
            max-width:40% !important;
            height:30vw;
        }
        &--tablets{
            margin-top:2.5vw;
            margin-left:2.5vw;
        }
    }
    .technology{
       &__column--first{
            margin-top:10vw !important;
       }
       &__header{
           padding-left:5vw;
       }
        &__content{
            padding-bottom:3rem;
            padding-top:3rem;
        }
        &__paragraph--position{
            padding-left:$padding;
            padding-right:$padding*2.4;
        }
        &__header{
            padding-left:5vw;
        }
    }
    .section{
        &__technology{
            padding-top:2vw;
            padding-left:$padding;
            padding-right:$padding*2.4;
            color:#7f7f7f;
        }
    }
}
@media (max-width:767px){
    .dropdown-menu{    
        margin: .125rem 7% 0 !important;
        width: 80% !important;
            &.show{
                font-size: 6vw;
            }
        }
    .menu-item{
        width: 100%;
        text-align: center;
    }
    .posts__row{
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    .post{
        &__photo{
            padding-bottom:2vw;
            padding-top:2vw;
            padding-left:2vw;
            padding-right:2vw !important;
        }
        &__infos{
            padding-top: 2vw;
            font-size: 5vw;
            padding-bottom: 2vw
        }
    }

    .row{
        margin-left:0 !important;
        margin-right:0 !important;
        &__column{
            &--position{  
                margin-top: 2.5vw;
                height: 80vw;
                margin-left: 2.5% !important;
                max-width: 95%;
            }
        }
    }
    .post{
        padding: 0 !important;
        max-width: 95% !important;
        border: 1px solid #cecece;
        background: #fff;
        margin: auto;
        margin-top: 3vw;
        &__image{
            width:100%;
        }
    }
    .navbar__logo--size{
        img{
            height:15vw;
            width:80vw;
        }
    }
    .columns{
        &--size{
            height: 585vw;
            margin-bottom:20vw;
        }
        &__row{
            padding-bottom: 3rem;
        }
        &__section{
            padding: 20vw 2vw 2vw;
        }
        &__photo{
            width:7.5vw;
        }
    }
    .container{
        &__posts{
            margin-top:10vw;
        }
    }
    .technology{
        &__column--first{
            margin-top:12vw !important;
        }
        &__content{
            padding-bottom:3rem;
            padding-top:3rem;
        }
        &__paragraph--position{
            padding-left:$padding;
            padding-right:$padding*2.4;
        }
    }
    .section{
        &__technology{
            color:#7f7f7f;
        }
    }
}