@import 'utils/_mixins.scss';
@import 'components/_buttons.scss';
@import 'base/_fonts.scss';
@import 'base/_typography.scss';
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
h1{
    font-size: 2vh;
}
.container{
    max-width:100% !important;
}
.container-fluid{
    padding-left: 10vw !important;
    padding-right: 10vw !important;
}
.navbar{
    width:100%;
    z-index:1000;
}
$padding:5vw;
$margin-top:2.5vw;
.navbar__item{
    padding-left: 2vw;
}
@include background-footer();
@include a-link();
.background__image{
    @include background();
}
.background__image--computer{
    @include width-height();
    object-fit:cover;
}
//styleguide
.header{
    text-align:center;
    &__paragraph{
        text-align:center;
    }
}
.colors{
    @include position;
}
.colors__container{
    @include section;
}
.colors__section{
    float:left;
    margin-left: 2vw;
    margin-top: 5vw;
}
.columns--background{
    background:#fafafa;
}

.colors__presentation{
width:100px;
height:100px;
}
.colors__presentation--posts{
    background:#fafafa;
}
.colors__presentation--footer{
    background:#3788c5;
}
.colors__presentation--hover{
    background:#4095c6;
}
.colors__presentation--tech{
    background:#7f7f7f;
}
// to add:
// add navbar things with link,list,item, grid
//koniec styleguide
@media(min-width:1280px)
{
.navbar__logo{
    margin: 0;
    padding: 0.5vw 0;
    img{
        height:10vw;
        width:39vw;
        object-fit: cover;
    }
}
.navbar__list{
    @include right-navigator();
    font-size: 1.1vw;
    padding-right: $padding;
}
.posts__content{
    float:left;
    text-align:center;
    padding-left:$padding;
    padding-right:$padding;
}
.row__column{
    @include column();   
    max-width: 25% !important;
    height:20vw;
    margin-left:2.5vw;
}
.row__column-second{
    @include column();
    margin-left:2.5vw;
    max-width: 25% !important;
    height:20vw;
}
    .columns__photo{
        width:7.5vw;
    }
    .row__column-third{
    margin-top:$margin-top;
    }
    @include background-photo();
    .columns{
    height: 60vw;
    }
    .columns__row{
        padding-bottom: 3rem;
        margin-left:15%;
    }
    .columns__section{
        padding: 10vw 2vw 0vw 2vw;
    } 
    .technology__first{
        margin-top:16vw;
    }
    .technology__row-reverse1{
        flex-direction: row-reverse;
    }
    .row-columns{
        padding-bottom: 3rem;
        margin-left: 15%;
    }
}
@media (min-width:992px) and (max-width:1279px)
{
    .navbar__logo{
        margin: 0;
        padding: 0.5vw 0;
        img{
            height:10vw;
            width:30vw;
            object-fit: cover;
        }
    }
    .navbar__list{
        font-size:1.4vw;
        @include right-navigator();
    }
    .background__image__computer{
        @include width-height();
        object-fit:cover;
    }
    .posts__content{
        float:left;
        text-align:center;
        padding-left:$padding;
        padding-right:$padding;
    }
    .row__column{
        @include column();   
        max-width:30% !important;
        height:20vw;
        margin-left:2.5vw;
    }
    .row__column-second{
        @include column();
        margin-left:2.5vw;
        max-width:30% !important;
        height:20vw;
    }
    .columns__photo{
        width:7.5vw;
    }
    .columns__title{
        margin-bottom:1rem;
    }
    .columns__paragraph{
        text-align:center;
    }
        .row__column-third{
        margin-top:$margin-top;
        }
    @include background-photo();
    .columns{
         height: 60vw;
    }
    .columns__row{
            padding-bottom: 3rem;
            margin-left:5%;
    }
    .columns__section{
            padding: 7vw 2vw 0vw 2vw;
    } 
        .technology__first{
            margin-top:18vw !important;
        }
        .technology__row-reverse1{
            flex-direction: row-reverse;
        }
        .technology__content{
            .technology__paragraph{
                padding-left:$padding;
                padding-right:$padding*2.4;
            }
        }
        .technology__paragraph--bigger{
            @include tech-paragraph();
        }
}
@media (min-width:768px) and (max-width:991px){
    .navbar__logo{
        margin: 0;
        padding: 0.5vw 0;
        img{
            height:10vw;
            width:30vw;
            object-fit: cover;
        }
    }
    .navbar__list{
        font-size:2vw;
        @include right-navigator();
    }
    .background__image__computer{
        @include width-height();
        object-fit:cover;
    }
    .posts__content{
        float:left;
        text-align:center;
        padding-left:$padding;
        padding-right:$padding;
    }
    .row__column{
        @include column();   
        max-width:40% !important;
        margin-left:2.5vw;
        height:20vw;
    }
    .row__column-second{
        @include column();
        margin-left:2.5vw;
        max-width:40% !important;
        height:20vw;
    }
    .columns__photo{
        width:7.5vw;
    }
    .columns__title{
        margin-bottom:1rem;
    }
    .columns__paragraph{
        text-align:center;
    }
        .row__column-third{
        margin-top:$margin-top;
        }
        .row__column__tablets{
            margin-top:2.5vw;
            margin-left:2.5vw;
        }
    @include background-photo();
    .columns{
        height: 90vw;
    }
    .columns__row{
            padding-bottom: 3rem;
            margin-left:10vw;
    }
    .columns__section{
            padding: 7vw 2vw 0vw 2vw;
    } 
        .technology__first{
            margin-top:18vw !important;
        }
        .technology__row-reverse1{
            flex-direction: row-reverse;
        }
        .technology__content{
            padding-bottom:3rem;
            padding-top:3rem;
            .technology__paragraph{
                padding-left:$padding;
                padding-right:$padding*2.4;
            }
        }
        .technology__paragraph--bigger{
            @include tech-paragraph();
        }
}
@media (max-width:767px){
    .navbar__logo{
        margin: 0;
        padding: 0.5vw 0;
        img{
            height:15vw;
            width:50vw;
            object-fit: cover;
        }
    }
    .navbar__list{
        font-size:2vw;
        @include right-navigator();
    }
    .background__image__computer{
        @include width-height();
        object-fit:cover;
    }
    .posts__content{
        float:left;
        text-align:center;
    }
    .row__column{
        @include column();   
        height:70vw;
    }
    .row__column-second{
        @include column();
        height:70vw;
        margin-top:2.5vw;
    }
    .columns__photo{
        width:7.5vw;
    }

    .columns__paragraph{
        text-align:center;
    }
        .row__column-third{
        margin-top:$margin-top;
        }
    @include background-photo();
    .columns{
        height: 470vw;
    }
    .columns__row{
            padding-bottom: 3rem;
    }
    .columns__section{
            padding: 30vw 2vw 2vw 2vw;
    } 
        .technology__first{
            margin-top:31vw !important;
        }
        .technology__content{
            padding-bottom:3rem;
            padding-top:3rem;
            .technology__paragraph{
                padding-left:$padding;
                padding-right:$padding*2.4;
            }
        }
        .technology__paragraph--bigger{
            @include tech-paragraph();
        }
}
