@charset "UTF-8";
@media all and (max-width: 30em) {
   a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}

.button--color {
  background-color: #3788C5;
}

@media (min-width: 1280px) {
  a.button {
    padding: 2%;
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 4vw;
    width: 15vw;
    margin: 2vw 0.3em 0.3em 25%;
  }
  a.button:hover {
    background-color: #4095c6;
    text-decoration: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
  font-size: 2vh;
}

.container {
  max-width: 100% !important;
}

.container-fluid {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

.navbar {
  width: 100%;
  z-index: 1000;
}

.navbar__item {
  padding-left: 2vw;
}

.header {
  text-align: center;
}

.header__paragraph {
  text-align: center;
}

.colors {
  margin-top: 5vw;
  margin-left: 2vw;
  overflow: hidden;
}

.colors__container {
  border-left: 4px solid black;
  border-bottom: 4px black solid;
  width: 50% !important;
  border-block-end: 50%;
  padding-left: 2vw;
  border-radius: 25px;
}

.colors__section {
  float: left;
  margin-left: 2vw;
  margin-top: 5vw;
}

.colors__title {
  font-size: 1.5vw;
  font-weight: 600;
}

.colors__paragraph {
  display: inline;
}

.colors__paragraph--hex {
  font-weight: 600;
}

.colors__paragraph--number {
  font-weight: 500;
}

.fonts {
  margin-top: 5vw;
  margin-left: 2vw;
  overflow: hidden;
}

.fonts__container {
  border-left: 4px solid black;
  border-bottom: 4px black solid;
  width: 50% !important;
  border-block-end: 50%;
  padding-left: 2vw;
  border-radius: 25px;
}

.fonts__container--smaller {
  margin-top: 2vw;
}

.fonts__style--inline {
  display: inline;
}

.fonts__section {
  padding-bottom: 1vw;
}

.buttons {
  margin-top: 5vw;
  margin-left: 2vw;
  overflow: hidden;
}

.buttons__container {
  border-left: 4px solid black;
  border-bottom: 4px black solid;
  width: 50% !important;
  border-block-end: 50%;
  padding-left: 2vw;
  border-radius: 25px;
}

@media (min-width: 1280px) {
  .navbar__logo {
    margin: 0;
    padding: 0.5vw 0;
  }
  .navbar__logo img {
    height: 10vw;
    width: 39vw;
    object-fit: cover;
  }
  .navbar__list {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    align-items: center;
    font-size: 1.1vw;
    padding-right: 5vw;
  }
  .background__image {
    position: relative;
    display: flex;
    background: url("images/komputer.jpg");
    background-size: cover;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .background__image--computer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .posts__content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .row__column {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    max-width: 25% !important;
    height: 20vw;
    margin-left: 2.5vw;
  }
  .row__column-second {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    margin-left: 2.5vw;
    max-width: 25% !important;
    height: 20vw;
  }
  .columns__photo {
    width: 7.5vw;
  }
  .columns__title {
    margin-bottom: 1rem;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
  }
  .columns__paragraph {
    text-align: center;
    font-size: 1vw;
    color: #7f7f7f;
  }
  .row__column-third {
    margin-top: 2.5vw;
  }
  .technology__photo {
    height: 100%;
    margin: auto;
    object-fit: contain;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .technology__photo img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    height: 60vw;
    background: #fafafa;
  }
  .columns__row {
    padding-bottom: 3rem;
    margin-left: 15%;
  }
  .columns__section {
    padding: 10vw 2vw 0vw 2vw;
  }
  .project--content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .project--content p {
    font-size: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vw;
  }
  .project__header {
    color: black;
    line-height: 7vw;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: left;
    padding-left: 5vw;
  }
  .project__header .project__paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .technology__first {
    margin-top: 16vw;
  }
  .technology__row-reverse1 {
    flex-direction: row-reverse;
  }
  .technology__content .technology__paragraph {
    padding-left: 5vw;
    padding-right: 12vw;
  }
  .technology__paragraph--bigger {
    color: #7f7f7f;
    font-weight: 400;
    font-size: 1vw;
  }
  .footer {
    background: #3788C5;
    height: 100px;
    display: flex;
  }
  .footer .footer__content {
    margin: auto;
  }
  .footer .footer__content h5 {
    text-align: center;
    color: #A0C8E3;
  }
  a.navbar__list__link {
    color: black !important;
  }
  a.navbar__list__link:hover {
    text-decoration: none;
  }
  .row-columns {
    padding-bottom: 3rem;
    margin-left: 15%;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .navbar__logo {
    margin: 0;
    padding: 0.5vw 0;
  }
  .navbar__logo img {
    height: 10vw;
    width: 30vw;
    object-fit: cover;
  }
  .navbar__list {
    font-size: 1.4vw;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    align-items: center;
  }
  .background__image {
    position: relative;
    display: flex;
    background: url("images/komputer.jpg");
    background-size: cover;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .background__image__computer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .posts__content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .row__column {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    max-width: 30% !important;
    height: 20vw;
    margin-left: 2.5vw;
  }
  .row__column-second {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    margin-left: 2.5vw;
    max-width: 30% !important;
    height: 20vw;
  }
  .columns__photo {
    width: 7.5vw;
  }
  .columns__title {
    margin-bottom: 1rem;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
  }
  .columns__paragraph {
    text-align: center;
    font-size: 1.2vw;
    color: #7f7f7f;
  }
  .row__column-third {
    margin-top: 2.5vw;
  }
  .technology__photo {
    height: 100%;
    margin: auto;
    object-fit: contain;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .technology__photo img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    height: 60vw;
    background: #fafafa;
  }
  .columns__row {
    padding-bottom: 3rem;
    margin-left: 5%;
  }
  .columns__section {
    padding: 7vw 2vw 0vw 2vw;
  }
  .project--content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .project--content p {
    font-size: 1.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vw;
  }
  .project__header {
    color: black;
    line-height: 7vw;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: left;
    padding-left: 5vw;
  }
  .project__header .project__paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .technology__first {
    margin-top: 18vw !important;
  }
  .technology__row-reverse1 {
    flex-direction: row-reverse;
  }
  .technology__content .technology__paragraph {
    padding-left: 5vw;
    padding-right: 12vw;
  }
  .technology__paragraph-bigger {
    color: #7f7f7f;
    font-weight: 400;
  }
  .footer {
    background: #3788C5;
    height: 100px;
    display: flex;
  }
  .footer .footer__content {
    margin: auto;
  }
  .footer .footer__content h5 {
    text-align: center;
    color: #A0C8E3;
  }
  a.navbar__list__link {
    color: black !important;
  }
  a.navbar__list__link:hover {
    text-decoration: none;
  }
  a.button {
    padding: 2%;
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 4vw;
    width: 15vw;
    margin: 2vw 0.3em 0.3em 25%;
  }
  a.button:hover {
    background-color: #4095c6;
    text-decoration: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar__logo {
    margin: 0;
    padding: 0.5vw 0;
  }
  .navbar__logo img {
    height: 10vw;
    width: 30vw;
    object-fit: cover;
  }
  .navbar__list {
    font-size: 2vw;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    align-items: center;
  }
  .background__image {
    position: relative;
    display: flex;
    background: url("images/komputer.jpg");
    background-size: cover;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .background__image__computer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .posts__content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .row__column {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    max-width: 40% !important;
    margin-left: 2.5vw;
    height: 20vw;
  }
  .row__column-second {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    margin-left: 2.5vw;
    max-width: 40% !important;
    height: 20vw;
  }
  .columns__photo {
    width: 7.5vw;
  }
  .columns__title {
    margin-bottom: 1rem;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
  }
  .columns__paragraph {
    text-align: center;
    font-size: 1.4vw;
    color: #7f7f7f;
  }
  .row__column-third {
    margin-top: 2.5vw;
  }
  .row__column__tablets {
    margin-top: 2.5vw;
    margin-left: 2.5vw;
  }
  .technology__photo {
    height: 100%;
    margin: auto;
    object-fit: contain;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .technology__photo img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    height: 90vw;
    background: #fafafa;
  }
  .columns__row {
    padding-bottom: 3rem;
    margin-left: 10vw;
  }
  .columns__section {
    padding: 7vw 2vw 0vw 2vw;
  }
  .project--content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .project--content p {
    font-size: 1.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vw;
  }
  .project__header {
    color: black;
    line-height: 7vw;
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
    padding-left: 5vw;
  }
  .project__header .project__paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .technology__first {
    margin-top: 18vw !important;
  }
  .technology__row-reverse1 {
    flex-direction: row-reverse;
  }
  .technology__content {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .technology__content .technology__paragraph {
    padding-left: 5vw;
    padding-right: 12vw;
  }
  .technology__paragraph-bigger {
    color: #7f7f7f;
    font-weight: 400;
  }
  .footer {
    background: #3788C5;
    height: 100px;
    display: flex;
  }
  .footer .footer__content {
    margin: auto;
  }
  .footer .footer__content h5 {
    text-align: center;
    color: #A0C8E3;
  }
  a.navbar__list__link {
    color: black !important;
  }
  a.navbar__list__link:hover {
    text-decoration: none;
  }
  a.button {
    padding: 2%;
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 6vw;
    width: 25vw;
    margin: 2vw 0.3em 0.3em 25%;
  }
  a.button:hover {
    background-color: #4095c6;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .navbar__logo {
    margin: 0;
    padding: 0.5vw 0;
  }
  .navbar__logo img {
    height: 15vw;
    width: 50vw;
    object-fit: cover;
  }
  .navbar__list {
    font-size: 2vw;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    align-items: center;
  }
  .background__image {
    position: relative;
    display: flex;
    background: url("images/komputer.jpg");
    background-size: cover;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .background__image__computer {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .posts__content {
    float: left;
    text-align: center;
  }
  .row__column {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    height: 70vw;
  }
  .row__column-second {
    padding: 0 !important;
    float: left;
    border: 1px solid #cecece;
    background: white;
    height: 70vw;
    margin-top: 2.5vw;
  }
  .columns__photo {
    width: 7.5vw;
  }
  .columns__title {
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
  }
  .columns__paragraph {
    text-align: center;
    font-size: 3.5vw;
    color: #7f7f7f;
  }
  .row__column-third {
    margin-top: 2.5vw;
  }
  .technology__photo {
    height: 100%;
    margin: auto;
    object-fit: contain;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .technology__photo img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    height: 470vw;
    background: #fafafa;
  }
  .columns__row {
    padding-bottom: 3rem;
  }
  .columns__section {
    padding: 30vw 2vw 2vw 2vw;
  }
  .project--content {
    float: left;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .project--content p {
    font-size: 5w;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 5vw;
  }
  .project__header {
    color: black;
    font-size: 5vw;
    font-weight: 400;
    text-align: left;
    margin-top: 2vw;
  }
  .project__header .project__paragraph {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .technology__first {
    margin-top: 25vw !important;
  }
  .technology__content {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .technology__content .technology__paragraph {
    padding-left: 5vw;
    padding-right: 12vw;
  }
  .technology__paragraph-bigger {
    color: #7f7f7f;
    font-weight: 400;
  }
  .footer {
    background: #3788C5;
    height: 100px;
    display: flex;
  }
  .footer .footer__content {
    margin: auto;
  }
  .footer .footer__content h5 {
    text-align: center;
    color: #A0C8E3;
  }
  a.navbar__list__link {
    color: black !important;
  }
  a.navbar__list__link:hover {
    text-decoration: none;
  }
  a.button {
    padding: 8%;
    display: inline-block;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 20vw;
    width: 100%;
    font-size: 5vw;
    margin: 0;
  }
  a.button:hover {
    background-color: #4095c6;
    text-decoration: none;
  }
}
