@import '../utils/_mixins.scss';
.buttons{
    @include position;
    &__container{
        @include section;
    }
    &__position{
        margin-top:3vw;
        margin-left:2vw;
    }
}
.button{
    font-weight:600;
    color:#FFFFFF;
    &--disabled{
        background:#4a545a;
    }
    &--primary{
        background-color:#3788C5;
        &:hover{
            background:#4095c6;
            color: white !important;
            text-decoration: none;
        }
    }
}
@media (min-width:992px){
    .button{
        @include button();
        padding:3%;
        height: 4vw;
        width:15vw;
    }
    .section__button{
        padding:2vw 0.3em 0.3em 25%;  
    }
}
@media (min-width:768px) and (max-width:991px){
    .button{
        @include button();
        padding:2%;
        height: 6vw;
        width:25vw;
    }
    .section__button{
        margin:2vw 0.3em 0.3em 25%; 
    }
}
@media (max-width:767px){
    .button{
        @include button();
        padding:8%;
        height: 20vw;
        width:100%;
        font-size:5vw;        
        margin:0;
    }
}
