{% extends 'base/Layout.twig' %}
{% block content %}
    <section class="background__image background__image--style">
            <img class="background__image--computer" src="assets/images/komputer.jpg" alt>
    </section>
    <section class="section__header">
        <div class="container-fluid container__posts">
                <h2 class="title title--h1">
                    POSTY
                </h2>
                <p class="text">
                    Znajdziesz tu najnowsze wpisy na temat działalności, aktywności,
                    pomysłów Młodzieżowych Rad z całej Polski. Poniżej kliknij w interesującą Cię dziedzinę
                    opatrzoną odpowiednim hashtagiem.
                </p>
        </div>
    </section>
    <section class="columns columns--size columns--background">
        <div class="container columns__container">
            <div class="columns__row">
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #ŻycieSpołeczne
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #Rozmowa
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class=" columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #InteresMłodzieży 
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns__row">
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #Informacja
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #Komunikacja 
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title--h3">
                            #Działanie 
                        </h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <div class="section__header">
            <h2 class="title title--h1"> 
                Dodatkowe informacje
            </h2>
        <div class="section__text">
            <p class="text">
                Dowiedz się więcej na temat Młodzieżowych Rad w Internecie,
                przeczytaj jaka przyświeca nam misja oraz co chcemy osiągnąć, później skontaktuj się z nami.
            </p>
        </div>
        </div>
    <section class="technology"> 
        <div class="container technology__container technology__column--first">
            <div class="row technology__row">
                <div class="col-lg-6 technology__content">
                <div class="technology__header">
                    <h2 class="title title--h2"> 
                        Kilka słów o naszym projekcie
                    </h2>
                </div>
                    <div class="section section__technology">
                        <p class="text">
                            Przeczytaj i dowiedz się, jakie są
                            nasze główne postulaty, co jest dla nas istotne oraz czego chcemy razem
                            z Tobą dokonać. Zasięgnij informacji, czym są Młodzieżowe Rady Miast w
                            Internecie i jak wygląda nasza działalność.
                        </p>
                    </div>
                    <div class="section section__button">
                        <a href="#" class="button button--primary">
                            O projekcie
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 technology__photo technology__photo--size">
                    <img class="technology__image" src="assets/images/calendar.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="technology">
        <div class="container technology__container">
            <div class="row technology technology__row-reverse">
                <div class="technology__content col-lg-6">
                    <div class="technology__header">
                        <h2 class="title title--h2">
                            Rozpocznijmy wspólną
                        </h2>
                    </div>
                    <div class="section section__technology">
                        <p class="text">
                            Nawiąż z nami kontakt i zacznijmy
                            rozmawiać. Dzięki temu lepiej się poznamy i będziemy mogli wspólnie
                            tworzyć nowe inicjatywy oraz rozwinąć siatkę kontaktów wśród młodych i
                            aktywnych społecznie ludzi.
                        </p>
                    </div>
                    <div class="section section__button">
                        <a href="#" class="button button--primary">
                            Kontakt
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 technology__photo technology__photo--size">
                    <img class="technology__image" src="assets/images/sitting.jpg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}