{% extends 'base/Layoutstyle.twig' %}

{% block content %}
<section class="colors">
    <div class="colors__container section__border">
        <h2 class="colors__content--header">
        Color Palette
        </h2>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--posts">
        </div>
        <h3 class="colors__title">
        Posts
        <br>
        Background
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #FAFAFA
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--footer">
        </div>
        <h3 class="colors__title">
        Footer
        <br>
        buttons
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #3788C5
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--hover">
        </div>
        <h3 class="colors__title">
        Button
        <br>
        Hover
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #4095C6
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--tech">
        </div>
        <h3 class="colors__title">
        Technology
        <br>
        paragraphs
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #7F7F7F
        </p>
    </div>
</section>
<section class="fonts fonts--position">
    <div class="fonts__container section__border">
        <h2 class="fonts__container--header">
        Fonts - Montserrat
        </h2>
    </div>
    <div class="fonts__section fonts__section--montserrat">
        <h1 class="posts__header fonts__style--inline">
        Posts header
        </h1>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H1
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
        Font-weight:600
        </h3>
    </div>
    <div class="fonts__section fonts__section--montserrat">
        <h2 class="project__header fonts__style--inline">
        Project header
        </h2>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H2
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
         Font-weight:500
        </h3>
    </div>
        <h3 class="columns__title fonts__style--inline">
        Columns title
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H3
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
        Font-weight:500
        </h3>
</section>
<section class="buttons">
    <div class="buttons__container section__border">
        <h2 class="buttons__container--header">
            Buttons
        </h2>
    </div>
    <h3 class="buttons__container--category">
    Usage
    </h3>
    <a href="#" class="button button--blue button--margin">
    Desktop
    </a>
    <a href="#" class="button button--disabled button--margin">
    Disabled
    </a>
     <h3 class="buttons__container--category">
    Sizes
    </h3>
    <a href="#" class="button button--blue button--margin">
    Normal
    </a>
     <h3 class="buttons__container--category">
    Links
    </h3>
    <a href="#" class="link link--normal">
    Link
    </a>
</section>
<section class="grids">
    <div class="grids__container section__border">
        <h2 class="grids__container--header">
            Grid
        </h2>
    </div>
    <h1 class="grids__container--category">
    Columns grid:
    </h1>
    <section class="columns columns--size columns--background">
        <div class="container columns__container">
            <div class="columns__row">
                <div class="col-xl-4 col-md-6 row__column row__column--position">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #ŻycieSpołeczne
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 column--phones row__column row__column--position row__column--phones">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #Rozmowa
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 column-tablets column--phones row__column row__column--position row__column--phones row__column--tablets">
                    <div class="columns__section">
                        <img class=" columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #InteresMłodzieży 
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns__row">
                <div class="col-xl-4 col-md-6 row__column--third row__column row__column--position row__column--phones row__column--tablets">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #Informacja
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position row__column--third row__column--phones row__column--tablets">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #Komunikacja 
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 row__column row__column--position row__column--third row__column--phones row__column--tablets">
                    <div class="columns__section">
                        <img class="columns__photo" src="#" alt>
                        <h3 class="title title__columns">
                            #Działanie 
                        </h3>
                        <p class="paragraph paragraph__columns">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut dui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="technology"> 
        <div class="project__content project__content--font">
        <h2 class="project__header title__technology"> 
            Dodatkowe informacje
        </h2>
        <div class="project__text">
            <p class="paragraph paragraph__project">
                Dowiedz się więcej na temat Młodzieżowych Rad w Internecie,
                przeczytaj jaka przyświeca nam misja oraz co chcemy osiągnąć, później skontaktuj się z nami.
            </p>
        </div>
       </div>
        <div class="container technology__container technology__column--first">
            <div class="row technology__row">
                <div class="col-lg-6 technology__content">
                <div class="project__text">
                    <h2 class="project__header technology__header title title__technology"> 
                        Kilka słów o naszym projekcie
                    </h2>
                </div>
                    <div class="section section__technology">
                        <p class="paragraph paragraph__technology">
                            Przeczytaj i dowiedz się, jakie są
                            nasze główne postulaty, co jest dla nas istotne oraz czego chcemy razem
                            z Tobą dokonać. Zasięgnij informacji, czym są Młodzieżowe Rady Miast w
                            Internecie i jak wygląda nasza działalność.
                        </p>
                    </div>
                    <a href="#" class="button button--blue">
                        O projekcie
                    </a>
                </div>
                <div class="col-lg-6 technology__photo technology__photo--size">
                    <img class="technology__image" src="assets/images/calendar.jpg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
