{% extends 'base/Layoutstyle.twig' %}

{% block content %}
<section class="colors">
    <div class="colors__container">
        <h2 class="colors__content--header">
        Color Palette
        </h2>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--posts">
        </div>
        <h3 class="colors__title">
        Posts
        <br>
        Background
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #FAFAFA
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--footer">
        </div>
        <h3 class="colors__title">
        Footer
        <br>
        buttons
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #3788C5
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--hover">
        </div>
        <h3 class="colors__title">
        Button
        <br>
        Hover
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #4095C6
        </p>
    </div>
    <div class="colors__section">
        <div class="colors__presentation colors__presentation--tech">
        </div>
        <h3 class="colors__title">
        Technology
        <br>
        paragraphs
        </h3>
        <p class="colors__paragraph colors__paragraph--hex">
        HEX:
        </p>
        <p class="colors__paragraph colors__paragraph--number">
        #7F7F7F
        </p>
    </div>
</section>
<section class="fonts">
    <div class="fonts__container">
        <h2 class="fonts__container--header">
        Fonts - Montserrat
        </h2>
    </div>
    <div class="fonts__section fonts__section--montserrat">
        <h1 class="posts__header fonts__style--inline">
        Posts header
        </h1>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H1
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
        Font-weight:600
        </h3>
    </div>
    <div class="fonts__section fonts__section--montserrat">
        <h2 class="project__header fonts__style--inline">
        Project header
        </h2>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H2
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
         Font-weight:500
        </h3>
    </div>
        <h3 class="columns__title fonts__style--inline">
        Columns title
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--element fonts__style--inline">
        H3
        </h3>
        <h3 class="fonts__smaller fonts__paragraph--weight fonts__style--inline">
        Font-weight:500
        </h3>
</section>
<section class="buttons">
    <div class="buttons__container">
        <h2 class="buttons__container--header">
            Buttons
        </h2>
    </div>
    <h3 class="buttons__container--category">
    Usage
    </h3>
    <a href="#" class="button button--blue button--margin">
    Desktop
    </a>
    <a href="#" class="button button--hover button--margin">
    Desktop Hover
    </a>
    <a href="#" class="button button--disabled button--margin">
    Disabled
    </a>
     <h3 class="buttons__container--category">
    Sizes
    </h3>
    <a href="#" class="button button--blue button--margin">
    Normal
    </a>
     <h3 class="buttons__container--category">
    Links
    </h3>
    <a href="#" class="link link--normal">
    Link
    </a>
</section>
{% endblock %}
