<!doctype html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/styles/bundle.css" />
    <script src="assets/scripts/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar--size">
                <h1 class="navbar__logo navbar__logo--size">
                    <a href="index.html">
                        <img src="assets/images/mrm.svg" alt="mrm">
                    </a>
                </h1>
                <div class="section section__navbar">
                    <ul class="navbar__list navbar__list--size navbar__list--position">
                        <li class="navbar__item">
                            <a class="navbar__link navbar__link--color" href="#">
                                STRONA GŁÓWNA
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link navbar__link--color" href="#">
                                POSTY
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link navbar__link--color" href="#">
                                O PROJEKCIE
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link navbar__link--color" href="#">
                                MŁODZIEŻOWE RADY
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link navbar__link--color" href="#">
                                KONTAKT
                            </a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </header>
    {% block content %}{% endblock %}
        <footer class="footer footer--style">
            <h5>&copy; Zuzanna Piekarczyk oraz Krystian Rozwag
            </h5>  
        </footer>
        <script src="assets/scripts/bundle.js"></script>
    </body>
</html>


