<!doctype html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/styles/bundle.css" />
    <script src="assets/scripts/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body style="background:#f1eeee !important">
    <header><h1 class="header">MRM Style Guide</h1>
    <p class="header__paragraph"> It's a Style Guide for MRM page. Style Guide has been created to help developers work on a reusable elements at the page.</p></header>
    {% block content %}{% endblock %}
        <script src="assets/scripts/bundle.js"></script>
    </body>
</html>


